
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">
    <!-- Channel Name Input -->
    <input type="text" placeholder="User Name" name="UserName" class="form-control" />
    <p class="text-danger">@Html.ValidationMessage("UserName")</p>

    
    <input type="text" placeholder="Password" name="Password" class="form-control" />
    <p class="text-danger">@Html.ValidationMessage("Password")</p>

   
    <input type="submit" value="Log In" class="btn btn-success" />
</form>

